[submodule "Basalt/vendor/spdlog"]
	path = Basalt/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Basalt/vendor/glm"]
	path = Basalt/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Basalt/vendor/imgui"]
	path = Basalt/vendor/imgui
	url = https://github.com/ocornut/imgui.git
